<form action="/sessions" method="POST">
	<label for="email">Email</label>
	<input type="text" name="email" id="email">
	<label for="title">Password</label>
	<input type="password" name="password" id="password">
	<button type="submit">Submit</button>
</form>