<h1>Hello World!!</h1>
<p>Welcome back <%= current_user.email %> </p>

<a href="/songs" class="btn btn-success">Song Wall</a>

<a href="/songs/new" class="btn btn-success">Add Song</a>


<a href="/sessions/logout" class="btn btn-success">Log Out</a>