<h1>Welcome to the song wall!!</h1>
<a href="/registrations/login" class="btn btn-primary">Log In</a>

<a href="/registrations/signup" class="btn btn-success">Sign Up</a>


<!-- <p><a href="/songs">See all the songs others have posted</a></p>
<p><a href="/songs/new">Add your own suggestions to the wall</a></p> -->
